{% load i18n %}

<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark2">
				<div class="logo-header" data-background-color="dark2">

					<a href="{% url 'home'%}" class="logo">
						<h3 class="align-center pt-3 text-danger">{% trans 'Tech Box' %}</h3>
					</a>
					<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
					<div class="nav-toggle">
						<button class="btn btn-toggle toggle-sidebar">
							<i class="icon-menu"></i>
						</button>
					</div>
				</div>
			</div>
			<!-- End Logo Header -->